{% set scale = scale_factor|default(1) -%}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>SVG to PNG converter</title>
  <style>
    body { background: #ddd; }
    div { font: 20px monospace; text-align: center; margin: 20px auto; }
    img { margin: auto; }
    hr { margin: 20px 0; }
  </style>
</head>
<body>
  {%- for svg, width, height, output_filename in items %}
  <div>{{ output_filename|e }}</div>
  <canvas width="{{ width * scale }}" height="{{ height * scale }}" data-svg="data:image/svg+xml;base64,{{ svg|b64encode }}" data-filename="{{ output_filename|e }}" style="display:none"></canvas>
  <hr>
  {%- endfor %}
  <script>
    document.querySelectorAll('canvas').forEach(function (canvas) {
      var context = canvas.getContext('2d');
      context.scale({{ scale }}, {{ scale }});
      var img = new Image;
      img.onload = function () {
        context.drawImage(img, 0, 0);
        canvas.toBlob(function (blob) {
          var newImg = new Image;
          var imgURL = URL.createObjectURL(blob);
          newImg.style.display = 'block';
          newImg.style.maxWidth = '1000px';
          newImg.onload = function () {
            var a = document.createElement('a');
            a.href = imgURL;
            a.download = canvas.dataset.filename;
            a.click();
            a.removeAttribute('download');
            a.target = '_blank';
            a.appendChild(newImg);
            canvas.parentNode.insertBefore(a, canvas);
          };
          newImg.src = imgURL;
        });
      };
      img.src = canvas.dataset.svg;
      canvas.removeAttribute('data-svg');
    });
  </script>
</body>
</html>
